<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
   <appenders>
      <Console name="Console" target="SYSTEM_OUT">
         <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      </Console>
   </appenders>
   <loggers>
      <logger name="comSIWeb.Operaciones.Conexion" level="DEBUG"/>
      <!--<logger name="comSIWeb.Operaciones.TableMaster" level="DEBUG"/>-->
      <logger name="Core.FirmasElectronicas.SATXml3_0" level="DEBUG"/>
      <logger name="Core.FirmasElectronicas.SatCancelaCFDI" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.restful.SugerenciasResource" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.nominas.ImportaIncidencias" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.notascargo.NotasCargo" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.notascargo.NotasCargoProveedor" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.restful.EtiquetasResource" level="DEBUG"/>
 
      <logger name="ERP.ProcesoMaster" level="DEBUG"/>
      <logger name="ERP.Ticket" level="DEBUG"/>v
      <logger name="ERP.PagosMasivos" level="DEBUG"/>
      <logger name="ERP.FacturaMasivaPedidos" level="DEBUG"/>
      <logger name="ERP.Importa_Empleados" level="DEBUG"/>
      <logger name="ERP.Importa_Nominas" level="DEBUG"/>
      <logger name="ERP.Bancos" level="DEBUG"/>
      <logger name="ERP.Nominas" level="DEBUG"/>
      <logger name="ERP.FacturaContratos" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.nominas.NominasFormulas" level="DEBUG"/>
      <logger name="ERP.Retenciones" level="DEBUG"/>
      <logger name="ERP.PolizasContables" level="DEBUG"/>
      <logger name="ERP.ContabilidadUtil" level="DEBUG"/> 
      <logger name="com.mx.siweb.mlm.compensacion.wenow.CobrosMasivosXLS" level="DEBUG"/>
      <logger name="com.mx.siweb.mlm.compensacion.wenow.ActivaBinario" level="DEBUG"/>
      <logger name="com.mx.siweb.mlm.utilerias.Redes" level="DEBUG"/>
      <logger name="com.mx.siweb.mlm.compensacion.prosperidad.CalculoComision" level="DEBUG"/>
      <logger name="com.mx.siweb.mlm.compensacion.goonlife.CalculoComision" level="DEBUG"/>
      <logger name="com.mx.siweb.mlm.compensacion.prosefi.CalculoComision" level="DEBUG"/>
      <logger name="com.mx.siweb.mlm.compensacion.jonfilu.CalculoComision" level="DEBUG"/>
      <logger name="com.mx.siweb.mlm.compensacion.xocobenefit.CalculoComision" level="DEBUG"/>
      <logger name="com.mx.siweb.mlm.compensacion.wenow.CalculoComision" level="DEBUG"/>
      <logger name="com.mx.siweb.mlm.compensacion.klensy.CalculoComision" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.especiales.siweb.FacturacionMasiva" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.especiales.siweb.InstaladorSIWEB" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.reportes.DashboardGenerator" level="DEBUG"/>
      <logger name="comSIWeb.Operaciones.CIP_Tabla" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.especiales.innte.ExportaTickets" level="DEBUG"/>
      <logger name="Core.FirmasElectronicas.SATRetenciones" level="DEBUG"/>
      <logger name="Core.FirmasElectronicas.TimbradoFacturaSegundos" level="DEBUG"/>
      <logger name="comSIWeb.Operaciones.Formatos.Formateador" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.especiales.cofide.COFIDE_Mail_cursos" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.especiales.cofide.restful.LlamadaResource" level="DEBUG"/>
      <logger name="com.mx.siweb.erp.especiales.cofide.Cofide_PBX" level="DEBUG"/>
      <root level="error">
         <appender-ref ref="Console"/>
      </root>
   </loggers>
</configuration>
