/* 
    Document   : mod_demo
    Created on : 03-feb-2013, 12:36:15
    Author     : aleph_79
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.mod_demo { 
   color:red;
}

